{% extends 'proveedores.html' %}

{% block cuerpo %}
<body>
    <div class="fondo">
        <header>
            <div class="cuadrado"> 
                <div class= "Crear">
                    <h1>Ingresar Vehiculo</h1>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{form}}
                    <div class="Ubi">
                        <button class="Button" type="submit">Crear</button>
                    </div>
                    
                </form>
            </div>
        </header>
    </div>
</body>
{% endblock cuerpo %}
