{% extends 'proveedores.html' %}
{% block titulo %}Crear Usuario{% endblock titulo %}


{% block cuerpo %}

<div class="tamaño">
        {% for empleado in empleados %}
        <div class="Tarejta">
                <div >
                        <a href="{% url 'editar_Empleado' empleado.id %}">  <img src="https://img.icons8.com/external-becris-lineal-becris/64/000000/external-edit-mintab-for-ios-becris-lineal-becris.png" align="right" width="35" height="35"/></a> 
                                <a href="{% url 'Eliminar_empleado' empleado.id %}">  <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-delete-miscellaneous-kiranshastry-solid-kiranshastry.png" align="right" width="35" height="35"/></a>
                       <br>
                        Nombre:    {{ empleado.Nombre }} <br>
                        Apellido:   {{empleado.Apellido }} <br>
                        Cargo:   {{empleado.cargoEmpleado }} <br>
                        
                        
                   </div>
        </div>
        {%endfor%}
</div>

{% endblock cuerpo %}