{% extends 'proveedores.html' %}
{% block titulo %}Crear Usuario{% endblock titulo %}


{% block cuerpo %}

<div class="tamaño">
        {% for proveedor in proveedores %}
        <div class="Tarejta">
                <div >
                        <a href="{% url 'editar_proveedor' proveedor.Id %}">  <img src="https://img.icons8.com/external-becris-lineal-becris/64/000000/external-edit-mintab-for-ios-becris-lineal-becris.png" align="right" width="35" height="35"/></a> 
                                <a href="{% url 'eliminar_proveedor' proveedor.Id %}">  <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-delete-miscellaneous-kiranshastry-solid-kiranshastry.png" align="right" width="35" height="35"/></a>
                       <br>
                        Razon Social: {{ proveedor.Razon_Social }} <br>
                        Ruc: {{proveedor.Ruc }} <br>
                        Teléfono: {{proveedor.Teléfono }} <br>
                        
                        
                   </div>
        </div>
        {%endfor%}
</div>

{% endblock cuerpo %}